<app-table-prefab
[FilterForm]="searchForm"
[items]="issues"
[headers]="['Creator', 'Price', 'Category']"
[columns]="[rowtemplate1, rowtemplate2, rowtemplate3]"
[pages]="pages"
[openButton]="openbtn"
(Search)="Search()"
(RemoveFilter)="RemoveFilters()"
(AmountPrPage)="ChangeNumberPrPage($event)"
(DeleteItem)="RemoveIssue($event)"
(PageChange)="JumpToPage($event)"
>
</app-table-prefab>
<ng-template #rowtemplate1 let-data="data">
    <td>{{data.creator?.username ?? 'unknown'}}</td>
</ng-template>
<ng-template #rowtemplate2 let-data="data">
    <td>{{data.price}}</td>
</ng-template>
<ng-template #rowtemplate3 let-data="data">
    <td>{{data.creationTime | date:'dd/MM/yyyy HH:mm'}}</td>
</ng-template>
<ng-template #openbtn let-data="data">
    <input type="button" [routerLink]="['/issueprofile']" [queryParams]="{issueId: data.id}" routerLinkActive="router-link-active"value="Open">
</ng-template>