<app-table-prefab
[FilterForm]="searchForm"
[items]="issues"
[headers]="['Creator', 'Price', 'Model', 'Category']"
[columns]="[rowtemplate1, rowtemplate2, rowtemplate3, rowtemplate4]"
[pages]="pages"
[openButton]="openbtn"
(Search)="Search()"
(RemoveFilter)="RemoveFilters()"
(AmountPrPage)="ChangeNumberPrPage($event)"
(DeleteItem)="RemoveIssue($event)"
(PageChange)="JumpToPage($event)"
[drawer]="description"
[DrawerTitle]="'Description'">
</app-table-prefab>

<ng-template #rowtemplate1 let-data="data">
    <td>{{data.creator?.username ?? 'unknown'}}</td>
</ng-template>
<ng-template #rowtemplate2 let-data="data">
    <td>{{data.price}}</td>
</ng-template>
<ng-template #rowtemplate3 let-data="data">
    <td>{{data.car?.make}}</td>
</ng-template>
<ng-template #rowtemplate4 let-data="data">
    <td>{{data.category?.tag}}</td>
</ng-template>
<ng-template #rowtemplate5 let-data="data">
    <td>{{data.creationTime | date:'dd/MM/yyyy HH:mm'}}</td>
</ng-template>
<ng-template #openbtn let-data="data">
    <input type="button" [routerLink]="['/issueprofile']" [queryParams]="{issueId: data.id}" routerLinkActive="router-link-active"value="Open">
</ng-template>
<ng-template #description let-data="data">
    <td [colSpan]="6">
        <textarea cdkTextareaAutosize cdkAutosizeMaxRows="10" (click)="$event.stopPropagation()" style="width: 90%; font-size: xx-large; border: 0;" readonly [value]="data.description"></textarea>
    </td>
</ng-template>

<h1 *ngIf="pages <= 0" style="text-align: center;">
    No Issues Found
</h1>