body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.test{
    min-width: 100%;
}

.ButtonDiv{
    display: flex;
    justify-content: center;
    width: 95%;
    gap: 1%;
}

.tableDiv{
    width: 95%;
}

@mixin TBody{
    border-collapse: initial;
    border: 2px solid black;
    td{
        border-right: 2px solid black;
    }
    td:last-child{
        border: 0;
    }
}

.EvenTBody{
    @include TBody;
    background-color: white;
}

.OddTBody{
    @include TBody;
    background-color: gray;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    
    border: 1px black solid;
    pointer-events: none;
}

td{
    text-align: center;
    font-size: xx-large;
}

.PageSwapBtn{
    background-color: transparent;
    border: 1px black solid;
}

.PageSwapBtn:active{
    background-color: gray !important;
}

.PageBtn{
    background-color: transparent;
    text-align: center;
    border: 1px black solid;
    width: 3%;
    aspect-ratio: 1;
}

.SelectedPageBtn{
    background-color: lightblue;
    text-align: center;
    border: 1px black solid;
    width: 3%;
    aspect-ratio: 1;

}

.SelectedPageBtn:active{
    background-color: gray;
}

.PageBtn:active{
    background-color: gray;
}

.actionTd{
    padding: 0;
    margin: 0;
}

.ImageTd{
    background-image: url('../../../assets/NoImage.avif');
    width: 100%;
    height: 100%;
}

@mixin BaseButton{
    border: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: large;
    height: 100% !important;
    display: inline-block;
}

.DeleteButton{
    @include BaseButton;
    background-color: red;
}

.EditButton{
    @include BaseButton;
    background-color: Lime;
}

.EditButton:hover{
    transform: scale(1.1);
}

.EditButton:active{
    background-color: limegreen;
}

.DeleteButton:hover{
    transform: scale(1.1);
}

.DeleteButton:active{
    background-color: crimson;
}
