<app-table-prefab
    (PageChange)="JumpToPage($event)"
    (AmountPrPage)="ChangeNumberPrPage($event)"
    (Search)="Search()"
    (RemoveFilter)="RemoveFilters()"
    [pages]="pages" [columns]="[rowtemplate1, rowtemplate2, rowtemplate3, rowtemplate4]"
    [headers]="['Make', 'Model', 'Plate', 'Vinnr']"
    [FilterForm]="searchForm"
    [items]="cars"
    [drawer]="Drawer"
    (DrawerOpened)="DrawerOpened($event)"
    (DeleteItem)="RemoveCar($event)"
    [openButton]="openbtn"
    [DrawerTitle]="'Issues'"
>
</app-table-prefab>
<ng-template #rowtemplate1 let-data="data">
    <td>{{data.make}}</td>
</ng-template>
<ng-template #rowtemplate2 let-data="data">
    <td>{{data.model}}</td>
</ng-template>
<ng-template #rowtemplate3 let-data="data">
    <td>{{data.plate}}</td>
</ng-template>
<ng-template #rowtemplate4 let-data="data">
    <td>{{data.vinNumber}}</td>
</ng-template>
<ng-template #openbtn let-data="data">
    <input type="button" [routerLink]="['/carprofile']" [queryParams]="{carId: data.id}" routerLinkActive="router-link-active"value="Open">
</ng-template>
<ng-template #Drawer let-data="data" let-row="row">
    <td style="padding: 0;" [colSpan]="6" >
        <app-table-prefab
        [columns]="[issueTemplate1, issueTemplate2, issueTemplate3]"
        [headers]="['Creator', 'Price', 'Creation date']"
        [openButton]="openbtn"
        [items]="data?.issues">
        </app-table-prefab>
    </td>
</ng-template>
<ng-template #issueTemplate1 let-data="data">
    <td>{{data.creator?.username ?? 'unknown'}}</td>
</ng-template>
<ng-template #issueTemplate2 let-data="data">
    <td>{{data.price}}</td>
</ng-template>
<ng-template #issueTemplate3 let-data="data">
    <td>{{data.creationTime | date:'dd/MM/yyyy HH:mm'}}</td>
</ng-template>
<ng-template #openbtn let-data="data">
    <input type="button" [routerLink]="['/issueprofile']" [queryParams]="{issueId: data.id}" routerLinkActive="router-link-active"value="Open">
</ng-template>
<ng-template #description let-data="data">
    <td [colSpan]="6">
        <span>Description</span>
        <textarea (click)="$event.stopPropagation()" style="width: 99%; height: auto; font-size: xx-large;" readonly [value]="data.description"></textarea>
    </td>
</ng-template>