.rowtd{
    font-size: xx-large;
    text-align: center;
    border-right: 1px solid black;
}
    
.drawer{
    table{
        width: 100%;
        text-align: center;
        thead{
            border-bottom: 1px solid black;
        }
        tbody{
            border: 0;
            padding: 0;
            margin: 0;
        }
        td{
            font-size: xx-large;
            margin: 0;
            padding: 0;
            border-right: 1px solid black;
        }
        td:last-child{
            border: 0;
        }
        border-collapse: collapse;
    }
}


@mixin BaseButton{
    border: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: large;
    height: 50px;
    display: inline-block;
}

.EditButton{
    @include BaseButton;
    flex: 1 1;
    background-color: Lime;
}

@mixin TBody{
    border-collapse: initial;
    border: 2px solid black;
    td{
        border-right: 2px solid black;
    }
    td:last-child{
        border: 0;
    }
}

.EvenTBody{
    @include TBody;
    background-color: white;
}

.OddTBody{
    @include TBody;
    background-color: gray;
}