<app-delete-request-popup #Delete [hidden]="Delete.IsHidden" (Complete)="deleteUser($event)"></app-delete-request-popup>

<body>
    <div #profileDiv class="profileDiv">
        <div #infoDiv class="infoDiv">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input readonly [value]="user?.username" #makeInfo matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <input readonly [value]="user?.rolename" #makeInfo matInput>
            </mat-form-field>

        </div>
        <div *ngIf="isAdmin" class="infoDiv">
            <button style="width: 100%; background-color: greenyellow;" class="btn" (click)="CreateUser()"
                mat-raised-button>Create user</button>      
            <button style="width: 100%; background-color: red;" class="btn" (click)="DeleteUser()"
                mat-raised-button>Manage users</button>
        </div>
    </div>
    <div #issueTable class="issueDiv">
        <table style="font-size: large; width: 100%;" class="issueTable">
            <thead>
                <tr>
                    <td [colSpan]="5">
                        <form [formGroup]="searchForm" class="searchForm">
                            <input [formControl]="searchForm.controls.make" placeholder="Make" #MakeFilter matInput
                                value="" (keyup.enter)="Search()">
                            <input [formControl]="searchForm.controls.model" placeholder="Model" #ModelFilter matInput
                                value="" (keyup.enter)="Search()">
                            <input [formControl]="searchForm.controls.plate" placeholder="Plate" #PlateFilter matInput
                                value="" (keyup.enter)="Search()">
                            <input [formControl]="searchForm.controls.vinnr" placeholder="Vin nr" #VinFilter matInput
                                value="" (keyup.enter)="Search()">
                            <button mat-raised-button (click)="Search()"><mat-icon>search</mat-icon></button>
                            <button mat-raised-button
                                (click)="RemoveFilters()"><mat-icon>filter_alt_off</mat-icon></button>
                        </form>
                    </td>
                </tr>
            </thead>
            <thead>
                <th>Creator</th>
                <th>CreationTime</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="issues != null">
                <tr *ngFor="let item of issues!; let row = index;" [class]="(row%2 == 0) ? 'even':'odd'">
                    <td><a>{{item.creator!.username}}</a></td>
                    <td>{{item.creationTime | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{item.price}}</td>
                    <td class="ActionTd">
                        <button class="EditButton" [routerLink]="['/issueprofile']" [queryParams]="{issueId: item.id}"
                            routerLinkActive="router-link-active">Open</button>
                        <button class="DeleteButton">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>