<body>

    @if (loading) {
    <div class="overlay">
        <mat-spinner></mat-spinner>
    </div>
    }

    @else {

    <div *ngIf="uploadingVideo" class="overlay"><mat-spinner></mat-spinner></div>

    <div class="container">
        @if (issue?.isCompleted) {
        <div class="issue-completed">
            <h4>The issue has been marked as completed</h4>
            <mat-icon class="issue-completion-mark" aria-hidden="false" aria-label="Checkmark"
                fontIcon="offline_pin"></mat-icon>

        </div>
        }
        <div class="car-detail-section">
            <div class="car-detail">
                <mat-form-field appearance="outline">
                    <mat-label>Make</mat-label>
                    <input matInput readonly="true" [value]="issue?.car?.make">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Model</mat-label>
                    <input matInput readonly="true" [value]="issue?.car?.model">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>License Plate</mat-label>
                    <input matInput readonly="true" [value]="issue?.car?.plate">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>VIN Number</mat-label>
                    <input matInput readonly [value]="issue?.car?.vinNumber">
                </mat-form-field>
            </div>
            <div class="car-detail">
            </div>
        </div>

        <div class="video-section">
            <h2>Video</h2>
            @if (!loadingVideo) {
            @if (videoNotFound) {
            Not Found.
            <app-video-capture [issueId]="issue?.id" (uploadStatus)="handleVideoUpload($event)"
                (videoUploadStart)="videoStartUpload()"></app-video-capture>
            }
            @else {
            <div class="videos">
                <div *ngIf="videos.length <= 0">Loading...<br><mat-spinner></mat-spinner></div>
                @for (item of videos; track $index) {
                <video #videoPlayer [src]="item" width="250" controls [volume]="0.2"></video>
                }
            </div>
            }
            }
        </div>

        <div class="issue-detail-section">
            <h2>Details</h2>
            <div class="issue-detail">
                <mat-form-field class="small-field" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input matInput readonly [value]="issue?.category?.tag ? issue?.category?.tag : 'None'">
                </mat-form-field>
                <mat-form-field class="small-field" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput readonly [value]="issue?.price">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Creation Date</mat-label>
                    <input matInput readonly [value]="issue?.creationTime | date:'dd/MM/yyyy HH:mm'">
                </mat-form-field>
            </div>
            <div class="issue-detail">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput readonly [value]="issue?.description"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="co-author-section" *ngIf="issue?.coAuthors?.length! > 0">
            <h2>Co-Author(s)</h2>
            <div class="coAuthorsDiv">
                <span *ngFor="let item of issue?.coAuthors; let i = index">{{item.username}}</span>
            </div>
        </div>
        <div class="button-section">
            <button [routerLink]="'/cars'" routerLinkActive="router-link-active" class="action-button">Go
                Back</button>
            @if (!issue?.isCompleted) {
            <button class="action-button" (click)="completeIssue()">Mark as completed</button>
            }
            @else {
            <button class="action-button" (click)="completeIssue()">Mark as incompleted</button>
            }
        </div>
    </div>
    }
</body>