<body>
    <app-progress-bar [progress]="82"></app-progress-bar>

    <div *ngIf="loading" class="overlay">
        <mat-spinner></mat-spinner>
    </div>

    <div class="review-container" *ngIf="formData">
        <h2>Car Details</h2>
        <div class="car-info">
            <div class="car-section">
                <mat-form-field appearance="outline">
                    <mat-label>Make</mat-label>
                    <input matInput readonly="true" [value]="formData.car.make">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Model</mat-label>
                    <input matInput readonly="true" [value]="formData.car.model">
                </mat-form-field>
            </div>
            <div class="car-section">
                <mat-form-field appearance="outline">
                    <mat-label>Plate</mat-label>
                    <input matInput readonly="true" [value]="formData.car.plate">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Vin</mat-label>
                    <input matInput readonly [value]="formData.car.vinNumber">
                </mat-form-field>
            </div>
        </div>

        <h2>Issue Details</h2>
        <div class="car-section">

            <mat-form-field appearance="outline" class="flex">
                <mat-label>Price</mat-label>
                <input matInput readonly="true" [value]="formData.price">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="description-container">
                <mat-label>Description</mat-label>
                <textarea matInput readonly="true" [innerText]="formData.description"></textarea>
            </mat-form-field>
        </div>

        <div class="action-buttons">
            <button class="rounded-btn" (click)="onCancel()">
                <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="arrow_back">
                </mat-icon>
            </button>
            <button class="rounded-btn" (click)="onAccept()">
                <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="check">
                </mat-icon>
            </button>
        </div>
    </div>
</body>