<body>
    <div #profileDiv class="profileDiv">
        <div #imgDiv class="imgDiv" style="background-image: url({{imagepath}});"></div>
        <div #infoDiv class="infoDiv">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Make</mat-label>
                    <input [value]="car?.make" #makeInfo matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Model</mat-label>
                    <input [value]="car?.model" #modelInfo matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Plate</mat-label>
                    <input [value]="car?.plate" #plateInfo matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Vin number</mat-label>
                    <input [value]="car?.vinNumber" #vinInfo matInput>
                </mat-form-field>
            </div>
            <div style="width: 100%;">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Creation time</mat-label>
                    <input [value]="car?.creationTime" #vinInfo matInput>
                </mat-form-field>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-around;">
                <button class="btn" mat-raised-button>Save</button>
                <button class="btn" *ngIf="!isAdmin" mat-raised-button>Delete car</button>
            </div>
        </div>
    </div>
    <div #issueTable class="issueDiv">
        <table style="font-size: large; width: 100%;" class="issueTable">
            <thead>
                <th>Creator</th>
                <th>CreationTime</th>
                <th>Price</th>
                <th>Actions</th>
            </thead>
            <tbody *ngIf="car?.issues != null">
                <tr *ngFor="let item of car!.issues!; let row = index;" [class]="(row%2 == 0) ? 'even':'odd'">
                    <td><a>{{item.creator.username}}::: todo needs routing</a></td>
                    <td>{{item.creationTime}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button mat-raised-button>Open</button>
                        <button mat-raised-button>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>