body{
    background-image: url("../../../assets/car1.jpg");
    background-repeat: no-repeat;
    height: 92vh;
    background-size: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-position: right bottom, left top;
}

.btn{
    align-self: center;
    justify-self: center;
    width: 15%;
    height: 40px;
    border: 0;
    border-radius: 12px;
    outline-offset: 4px;
    margin: 0;
    background-color: #002b3e;
    color: white;
    margin: 0;
    padding: 0;
}

.btn:active .btntext{
    transform: translateY(-1px);
}

.btntext{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: block;
    background-color: #004A6C;
    transform: translateY(-6px);
    font-size: 1.25rem;
    align-content: center;
    overflow: hidden;
}

.Service{
    align-self: flex-start;
    font-size: 100px;
    color: rgb(255, 63, 63);
    font-family: fantasy;
}