<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form (ngSubmit)="onSubmit(username.value, password.value)">

        <!-- TODO: Fix mat-form-field must contain a MatFormFieldControl...  -->
    </form>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input #username placeholder="abc" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input  #password placeholder="abc" matInput>
                </mat-form-field>
            </mat-card-content>
            <button type="submit" mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
    </mat-card>
</div>