.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.example-form {
    // min-width: 150px;
    // max-width: 500px;
    // width: 100%;
    text-align: center;
  }
  
  .example-full-width {

    margin-left: 1vh;
    margin-right: 1vh;
  }

.small-details {
    margin-top: 5vh;
}
.video-container {
    // display: flex;
    // justify-content: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);

    /* Set a maximum width for the video container */
    margin: 0 auto;
    /* Center the container horizontally */

}
.video-container video {
    width: 480px;
    height: 320px;
}

@media screen and (max-width: 450px) {
    .video-container video {
        width: 240px;
        height: 185px;
    }

}