/* You can add global styles to this file, and also import other style files */

:root {

    --zbc-blue: #004A6C;
    --zbc-foreground: #FFFFFF;
    --zbc-btn-hover: #0056b3
}
html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
body { min-height: 100%; overflow-y: visible; overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// Progress spinner overlay
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}