.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-btn {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-btn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    margin: 12px;
    width: 15vh;
    border: none;
    border-radius: 10%;
    color: var(--zbc-foreground);
    background-color: var(--zbc-blue);
}

.video-btn .mat-icon {
    scale: 2;
    margin-bottom: 12px;
}

button {
    margin: 5px;
}
.rounded-btn {
    padding: 4vh;
    border-radius: 50%;
    color: var(--zbc-foreground);
    background-color: var(--zbc-blue);
    border: none;
}
.rounded-btn .mat-icon {
    scale: 3;
}
.navigation-button {
    display: flex;
    justify-content: space-between;
}
.video-container {

    transform: translate(0, 10vh);
    // display: flex;
    // justify-content: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);

    /* Set a maximum width for the video container */
    // margin: 0 auto;
    /* Center the container horizontally */

}

video {
    width: 480px;
    height: 320px;
}

@media screen and (max-width: 450px) {
video {
        width: 240px;
        height: 185px;
    }

}