<!-- <app-progress-bar [progress]="39"></app-progress-bar> -->
<input type="file" accept="video/*" id="fileInput" hidden (change)="onFileSelected($event)">
<div class="container">
    
    <div class="video-btn">
        <button (click)="openCamera()">
            <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="videocam">
            </mat-icon>Optag</button>
        <button (click)="selectVideo()">
            <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="upload_file">
            </mat-icon>Upload</button>
    </div>
</div>