<body>
    <app-progress-bar [progress]="32"></app-progress-bar>

    <h2>Create Issue</h2>
    <div class="container flex-center-col">
        <form class="flex-center-col" [formGroup]="carIssueForm" (ngSubmit)="onSubmit()" #form>
            <div class="input-form-row">

                <!-- Select Car -->
                <mat-form-field class="form-input-big" appearance="fill">
                    <mat-label>Car</mat-label>
                    <mat-select formControlName="car" [value]="carIssueForm.controls.car.value" [compareWith]="compareItem">
                        @if (loadingCars) {
                        <mat-option disabled *ngIf="loadingCars">Retrieving Cars...</mat-option>
                        }
                        @else {

                        @for (car of cars; track $index) {
                        <mat-option [value]="car">{{ car.make}} {{car.model}}<br><strong>({{
                                car.plate}})</strong>
                        </mat-option>
                        <hr>
                        }}
                    </mat-select>
                </mat-form-field>

                <!-- Select Category -->
                <mat-form-field class="form-input-small" appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" [value]="carIssueForm.controls.category.value" [compareWith]="compareItem">
                        @if (loadingCategories) {
                        <mat-option disabled *ngIf="loadingCategories">Retrieving Categories...</mat-option>
                        }
                        @else {
                
                        @for (category of categories; track $index) {
                        <mat-option [value]="category"> {{ category.tag }}
                        </mat-option>
                        <hr>
                        }}
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-input-small" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="price" [errorStateMatcher]="matcher"
                        placeholder="Ex. 1000">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-textarea" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" [errorStateMatcher]="matcher"
                        placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="navigation-button">

                <button class="rounded-btn" type="submit">
                    <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="arrow_forward">
                    </mat-icon>
                </button>

            </div>
        </form>
    </div>
</body>