body {
    overflow-y: scroll;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}
.input-form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;

    .form-input-small {
        width: 35vw;
        max-width: 150px;
    }
    .form-input-big {
        width: 65vw;
    }
}


.form-textarea {
    width: 84vw;

    textarea {
        height: 20vh;
    }
}
form {   
    width: 100%;
}

mat-form-field {
    margin-left: 2vh;
    margin-right: 2vh;
}

mat-error {
    overflow: hidden;
}

.form-input {
    display: inline-block;
    width: 50%;
}

button {
    margin: 5px;
}

.rounded-btn {
    padding: 4vh;
    border-radius: 50%;
    color: var(--zbc-foreground);
    background-color: var(--zbc-blue);
    border: none;
}
.rounded-btn:hover {
    background-color: #0056b3;
}
.rounded-btn .mat-icon {
    scale: 3;
}

.navigation-button {
    display: flex;
    justify-content: center;
    width: 100%;
}


.mat-form-search {
    margin: 0;
    padding: 0;
    width: 100%;
}