<body>
    <app-progress-bar [progress]="60"></app-progress-bar>

    <h2>Create Issue</h2>
    <div class="container flex-center-col">
        <form class="flex-center-col" [formGroup]="carIssueForm" (ngSubmit)="onSubmit()" #form>
            <div class="input-form-row">
                <mat-form-field class="form-input-big" appearance="fill">
                    <mat-label>Bil</mat-label>
                    <mat-select formControlName="car" required [value]="carIssueForm.controls.car.value">
                        @if (loading) {
                        <mat-option disabled *ngIf="loading">Henter biler...</mat-option>
                        }
                        @else {

                        @for (car of cars; track $index) {
                        <mat-option [value]="car">{{ car.make}} {{car.model}}<br><strong class="car-plate">({{
                                car.plate}})</strong>
                        </mat-option>
                        <hr>
                        }}
                    </mat-select>
                    @if (carIssueForm.get('car')?.hasError('required')) {
                    <mat-error>Valg af bil er <strong>nødvendigt</strong></mat-error>}
                </mat-form-field>

                <mat-form-field class="form-input-small" appearance="outline">
                    <mat-label>Pris</mat-label>
                    <input type="number" matInput formControlName="price" [errorStateMatcher]="matcher"
                        placeholder="Eks. 1000">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-textarea" appearance="outline">
                    <mat-label>Beskrivelse</mat-label>
                    <textarea matInput formControlName="description" [errorStateMatcher]="matcher"
                        placeholder=""></textarea>
                </mat-form-field>
            </div>
            <div class="navigation-button">

                <button class="rounded-btn" (click)="onCancel()" type="button">
                    <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="arrow_back">
                    </mat-icon>
                </button>

                <button class="rounded-btn" type="submit">
                    <mat-icon aria-hidden="false" aria-label="Video Icon" fontIcon="arrow_forward">
                    </mat-icon>
                </button>

            </div>
        </form>
    </div>
</body>