<app-table-prefab
    [items]="users"
    [pages]="pages"
    [columns]="[rowtemplate1]"
    [headers]="['Username']"
    [openButton]="openbtn"
    [FilterForm]="searchForm"
    [drawer]="drawerData"
    (AmountPrPage)="ChangeNumberPrPage($event)"
    (RemoveFilter)="RemoveFilters()"
    (PageChange)="JumpToPage($event)"
    (DeleteItem)="deleteUser($event)"
    (Search)="Search($event)"
    [hideAmountPrPage]="true"

    >
</app-table-prefab>

<ng-template #rowtemplate1 let-data="data">
    <td>{{data.username}}</td>
</ng-template>

<ng-template #openbtn let-data="data">
    <input type="button" [routerLink]="['/profile']" [queryParams]="{userId: data.id}"
        routerLinkActive="router-link-active" value="Open">
</ng-template>

<ng-template #drawerData let-data="data">
    <!-- <td [colSpan]="6">
        <textarea (click)="$event.stopPropagation()" style="width: 100%; height: auto; border: 0; resize: none;"
            readonly [value]="data.email"></textarea>
    </td> -->
</ng-template>